body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  box-sizing: border-box;
}

input[type=text]:focus, input[type=number]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

input {
  background-color: white;
  border: 3px solid #555;
}

label {
  padding: 1px 5px;
  border: none;
  border-radius: 2px;
}